@using ProgramacionWeb_Backend.Models


<h1>@ViewBag.Texto</h1>

<p>@TempData["Texto2"]</p>

<h1>@Model.Titulo</h1>

<p>@Model.Parrafo</p>

<form asp-action="Index" asp-controller="Ejemplo" method="post">

	<input class="form-control" type="text" name="Titulo" placeholder="Ingrese el titulo" />
	<input class="form-control" type="text" name="Parrafo" placeholder="Ejemplo" />
	<input class="btn btn-primary" type="submit" value="Enviar" />

</form>